<p>component-interaction works!</p>
<!--<app-component-interaction-child *ngFor="let serverElement of serverElements" [element]="serverElement" ></app-component-interaction-child>-->
<!--<app-component-interaction-child *ngFor="let name of names" [name]="name" ></app-component-interaction-child>-->

<!--<button (click)="childern.child1()">C1</button>
<app-component-interaction-child #childern></app-component-interaction-child>-->

<input type="text" #serverContentInput>
<button (click)="testing()">Click me!</button>